<!DOCTYPE html>

<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Agreement</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#000000">
    <link rel="stylesheet" href="/account/css/semantic.min.css">
    <link rel="stylesheet" href="/account/css/header.css">
    <script src="/account/js/semantic.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.4/jquery.js"></script>

</head>

<body>
<div>

    <header>
        <div class="logo">Furry Fashion</div>
        <div class="userinfo">
            <div class="item user">
                <img src="https://p3.ssl.qhimg.com/t01810a2f17924cb476.png" alt="Account">
                <i class="icon"></i>
                <div class="user_wrap">
                    <a th:href="@{/login}" id="sign-in-link">Sign In</a>
                    <a th:href="@{/sign-up}" id="sign-up-link">Sign Up</a>
                </div>
            </div>
            <div class="item home_icon">
                <img src="https://p1.ssl.qhimg.com/t01d6a6a68b7c4e45a5.png" alt="Home">
                <a href="/" style="color: white;"> Home</a>
            </div>
        </div>
    </header>
    <div class="ui centered container stackable middle aligned two column grid">
        <div style="height: 100px" class="row">
        </div>
    </div>


    <div class="ui main text container">
        <h1 class="ui center aligned large header">Privacy Policy</h1>
        <p>"We" takes your privacy seriously. To better protect your privacy we provide this privacy policy notice explaining the way your personal information is collected and used.
Collection of Routine Information
This app track basic information about their users. This information includes, but is not limited to, IP addresses, app details, timestamps and referring pages. None of this information can personally identify specific users to this app. The information is tracked for routine administration and maintenance purposes.
Cookies
Where necessary, this app uses cookies to store information about a visitor’s preferences and history in order to better serve the user and/or present the user with customized content.
Advertisement and Other Third Parties
            
            Advertising partners and other third parties may use cookies, scripts and/or web beacons to track users activities on this app in order to display advertisements and other useful information. Such tracking is done directly by the third parties through their own servers and is subject to their own privacy policies. This app has no access or control over these cookies, scripts and/or web beacons that may be used by third parties. Learn how to [opt out of Google’s cookie usage](http://www.google.com/privacy_ads.html).
            
            
             Links to Third Party Websites
            
            we have included links on this app for your use and reference. we are not responsible for the privacy policies on these websites. You should be aware that the privacy policies of these websites may differ from our own.
            
            
             Security
            
            The security of your personal information is important to us, but remember that no method of transmission over the Internet, or method of electronic storage, is 100% secure. While we strive to use commercially acceptable means to protect your personal information, we cannot guarantee its absolute security.
            
            
             Changes To This Privacy Policy
            
            This Privacy Policy is effective as of 2023-5-1 and will remain in effect except with respect to any changes in its provisions in the future, which will be in effect immediately after being posted on this page.
            
            we reserve the right to update or change our Privacy Policy at any time and you should check this Privacy Policy periodically. If we make any material changes to this Privacy Policy, we will notify you either through the email address you have provided us, or by placing a prominent notice on our app.
            
            
             Contact Information
            
            For any questions or concerns regarding the privacy policy, please send us an email to Contact Email Address.</p>
    </div>
</div>
</body>
<script src="/account/js/index.js"></script>
</html>