<!DOCTYPE html>
<html>
    <head>
        <h1>
            You are accessing a page that you do not have access for!
        </h1>
    </head>

    <article>
    <h1>Make sure you access the right page!</h1>

    <h2>If you are a user</h2>
    <a data-th-href="@{/mainpage}">then go user's home page</a>
    <h2>If you are the manager</h2>
    <a data-th-href="@{/management_system}">then go the manager's home page</a>
    </article>
    <h2>Need to change account?</h2>
    <a data-th-href="@{/logout}">Logout</a>
    <h2>Need help?</h2>
    <a data-th-href="@{/help}">visit our help page</a>
    </article>
</html>